# Ignore everything
*
# But not directory NewCode
!NewCode/
!NewCode/**
# But not all in directory LegacyCode
!LegacyCode/
!LegacyCode/**
# But not readme files
!README.md
# But not .gitignore itself
!.gitignore